@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.overflow_hidden {
	overflow: hidden;
}
#root {
	display: flex;
	align-items: center;
	min-height: 100vh;
}
.App {
	padding: 50px 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.container-menu {
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
}
.container-menu__buttons {
	display: flex;
}
.container-menu__button {
	width: 180px;
	font-size: 16px;
	border: 1px solid #b8b8b8;
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
	transition: 0.5s;
	outline: none;
	height: 100px;
}
.container-menu__button:last-child {
	margin-left: 40px;
}
.container-menu__button:hover {
	background-color: #eee;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
@media (max-width: 460px) {
	.container-menu__button {
		width: 140px;
		height: 60px;
	}
	.container-menu__button:last-child {
		margin-left: 20px;
	}
	.container-menu__title {
		font-size: 24px;
	}
}
